.sdd-chart-panel {
  padding: 2rem;
}
.tab-pane {
  padding: 1rem 0;
}
.highcharts-chart {
  text-align: center;
}
.highcharts-chart svg.highcharts-loader {
  margin: 3rem auto;
  width: 50px;
  height: 40px;
  fill: #ccc;
}
.highcharts-chart {
  min-width: 320px;
  max-width: 100%;
  height: 300px;
  overflow: visible !important;
  margin: 0 auto;
}
.highcharts-menu hr {
  margin: .5rem 0;
}
.highcharts-container {
  overflow: visible !important;
}
.highcharts-data-table {
  text-align: center;
}
.highcharts-data-table table {
    border-collapse: collapse;
    border-spacing: 0;
    background: white;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.9em;
}
.highcharts-container .highcharts-data-table table {
  margin: 1rem auto;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    border: 1px solid silver;
    padding: 0.25em 0.5em;
    min-width: 100px;
}
.highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #eff;
}
.highcharts-data-table caption {
    caption-side: top;
    border: 0 none;
    font-size: 1.1em;
    font-style: italic;
    white-space: nowrap;
}
.highcharts-jsondata {
  margin-top: 2rem;
  font-family: monospace;
  font-size: 11px;
}