.breadcrumb {
    background-color: transparent;
}
.article {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 75px;
    h2 {
        font-family: 'Calibri';
        color: #032f47;
        font-size: 2.3rem;
        font-weight: 700;
        text-align: left;
    }
    .field-type-text-with-summary {
        font-family: 'Calibri';
        font-weight: 300;
        line-height: 31.25px;
        color: #2a2c2d;
        font-size: 18px;
    }
    .group-title-block {
        margin-bottom: 50px;
        .field-type-ds {
            display: inline-block;
            font-family: 'Calibri';
            color: #191a1b;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 10px;
            position: relative;
            &:first-of-type {
                margin-right: 4px;
                &:after {
                    content: '';
                    position: absolute;
                    right: -4px;
                    top: 4px;
                    width: 1px;
                    height: 14px;
                    background-color: #191a1b;
                }
                &:before {
                    content: 'by';
                }
            }
        }
    }
    .field-type-image {
        margin-bottom: 25px;
    }
}
.group-with-icon {
    font-family: 'Calibri';
    margin-right: 12px;
    .field-type-image {
        display: inline-block;
        margin: 0;
    }
    p {
        display: inline-block;
        a {
            color:  #036295;
            font-size: 16px;
            &:hover, &:focus, &:active {
                color:  #036295;
            } 
        }
    }

}

.related-datasets {
    background-color: #f8f8f8;
    padding: 50px 0 70px;
    h2 {
        font-size: 30px;
        font-weight: 700;
        color: #032f47;
        text-align: center;
        margin: 0 0 40px;
    }
    .field-type-entityreference {
        max-width: 800px;
		margin: 0 auto;
    }
    .container {
        max-width: 800px;
    }
}
.similar-posts {
    padding: 45px 0 100px;
    h2 {
        font-size: 30px;
        font-weight: 700;
        color: #032f47;
        text-align: center;
        margin: 0 0 40px;
    }
    .field-type-entityreference {
        max-width: 800px;
		margin: 0 auto;
    }
    .field-items {
        display: flex;
        .field-item {
            margin-left: 20px;
            display: inline-block;
            max-width: 190px;
            &:first-child {
                margin-left: 0px;
            }
            .thematic-group-article-item {
                text-align: center;
                h4 {
                    a {
                        font-size: 14px;
                        font-weight: 300;
                        color:  #263340;
                    }
                }
            }
        }
    }
}
