body {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #000;
}


#header {
    position: absolute;
    width: 100%;
    background: transparent;
    line-height: 70px;
    z-index: 1;
    padding: 10px 0;
    #logo {
        display: inline-block;
        img {
            max-height: 46px;
        }
    }
    #main-menu {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                display: inline-block;
                list-style: none;
                a {
                    display: inline-block;
                    font-size: 13px;
                    color: #fff;
                    padding: 0px 24px;
                    text-transform: uppercase;
                    transition: all 0.3s;
                    
                    svg {
                        margin-left: 7px;
                    }
                }
                a:hover {
                  text-decoration: none;
                  color: #F8DA10!important;
                }
            }
            li.dropdown:hover {
                background: #fff;
                >a {
                    color: #000;
                }
            }
        }
        .dropdown-menu {
            margin: 0px; 
            padding: 0px;
            box-shadow: none;
            border-radius: 0 3px 3px 0;
            li {
                position: relative;
                display: block;
                padding: 0px;
                a {
                    display: block;
                    transition: all 0.3s;
                    font-size: 12px;
                    color: #7B7B7B;
                    text-transform: uppercase;
                    font-family: 'Roboto';
                    font-weight: 400;
                    padding: 15px 50px;
                    position: relative;
                    border: none;
                    border-left: 3px solid #fff;
                }
                a:hover{
                    color: #000 !important;
                    background-color: #f5f5f5;
                    border-left: 3px solid #000000;
                }
            }
            .fp:before {
                position: absolute;
                font-size: 20px;
                color: #7B7B7B;
                top: 10px;
                left: 15px;
                z-index: 1;
            }
            .fp:hover:before {
                color: #000;
            }
        }
    }
}
.login-icon {
    .sprite('../img/sprite/spc_new_sprite.png', 18px, 22px, -7px, -28px);
    background-size: 310%;
    margin-right: 7px;
    vertical-align: middle;
}
.dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 19px;
    padding: 5px 15px;
    li {
        display: block;
        padding: 0 12px;
        a {
            display: block;
            color: #000;
            border-bottom: 1px dashed #D3D3D3;
            padding: 5px 0;
            &:hover {
                background-color: transparent;
                color: @spc-primary-color;
            }
        }
        &:last-child {
            a {
                border-bottom: none;
            }
        }
    }
}


.banner-with-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	height: 421px;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    z-index: 0;
    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        z-index: 1;
        strong {
            color: @spc-accent-color;
        }
    }
	.ckan-search-form-wrapper {
        text-align: center;
        margin-top: 35px;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
        background-image: linear-gradient(135deg, rgba(0,198,236,0.85) 0%, rgba(0,3,102,0.95) 80%);
        z-index: -1;
    }
    h6 {
        display: none;
    }
}


.container-on-banner {
    .banner-with-title {
        height: 558px;
        z-index: -1;
    }
    .bean-banner-with-title + .container {
        background-color: #fff;
        border-radius: 5px;
        margin-top: -420px;
    }
    .breadcrumb-box {
        background-color: transparent;
        margin-top: 0;
    }
}

.individual-data-insight-page {
    box-shadow: 0px 0px 5px 1px #ebebeb;
    margin-bottom: 60px;
    padding: 15px 50px;
}


.node-type-page {
    table {
        max-width: 800px;
        margin: 0 auto;
        thead {
            tr {
                background-color: @spc-secondary-color;
                th {
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
        tr {
            td {
                padding: 5px 15px;
                &:first-child {
                    text-align: center;
                }
                a {
                    color: @spc-buttons-color;
                    &:hover, &:focus {
                        color: @spc-buttons-color;
                    }
                }
            }
        }
    }
}

.breadcrumb-box {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    z-index: 1;
    .breadcrumb {
        line-height: 1;
        padding: 0;
        margin: 0;
        a, span, .delimiter {
            color: #fff;
            font-size: 12px;
        }
    }
    .element-invisible {
        display: none;
    }
}

.not-front {
    .node-data-insights {
        h2 {
            color: #032f47;
            font-size: 2.3rem;
            font-weight: 600;
            text-align: left;
        }
        .author {
            margin-right: 20px;
            position: relative;
            display: inline-block;
            &:before {
                content: ' ';
                .sprite('../img/sprite/spc_new_sprite.png', 18px, 22px, -39px, -28px);
                background-size: 340%;
                position: relative;
                top: 5px;
                margin-right: 5px;
            }
        }
        .post-date {
            margin-left: 5px;
            margin-right: 20px;
            display: inline-block;
            &:before {
                content: ' ';
                .sprite('../img/sprite/spc_new_sprite.png', 18px, 22px, -39px, -1px);
                background-size: 340%;
                position: relative;
                top: 5px;
                margin-right: 5px;
            }
        }
        .author, .post-date, .insights-topic {
            color: #191a1b;
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .insights-topic {
            margin-left: 5px;
            display: inline-block;
            font-weight: 600;
            p a, a {
                font-size: 13px;
                color: @spc-text-color;
            }
            .field-name-field-fa-icon {
                color: @spc-text-color;
            }
            .thematic-fa-link {
                font-size: 10px;
            }
        }
        .body-text {
            font-weight: 300;
            line-height: 24px;
            color: #2a2c2d;
            font-size: 13px;
            margin-bottom: 50px;
            p {
                margin-bottom: 25px;
            }
            img, iframe {
                width: 100%;
            }
        }
        .body-text, .preview {
            padding: 0 120px;
        }
        .preview {
            margin-top: 50px;
            margin-bottom: 30px;
            img, iframe {
                width: 100%;
            }
        }
    }
    .data-insights-list {
        margin: 60px 45px;
        .view-content {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
        .data-insights-list-item {
            padding: 10px;
            height: 390px;
            width: 32%;
            margin: 0.66%;
            border: 1px solid #9B9B9B;
            border-radius: 15px;
            .insight-title {
                line-height: 1;
                padding: 10px;
                margin: 0;
                a {
                    color: #000;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            img, iframe {
                width: 100%;
                border-radius: 10px 10px 5px 5px;
                height: 100%;
                max-height: 280px;
            }
            tbody {
                td {
                    padding: 15px;
                    vertical-align: top;
                }
            }
        }
        .insights-list-preview {
            display: flex;
            height: 280px;
            align-items: center;
            justify-content: center;
        }
        .item-list-pager {
            padding-top: 1px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .pager {

                li a {
                    padding: 5px 12px;
                    border-radius: 5px;
                    border: none;
                    background-color: #bcdfe5;
                    color: #fff;
                }
            }
            clear: both;
            .previous, .next {
                a {
                  float: none;
                }
            }
            .current a, .current{
                padding: 7px 12px;
                background-color: #036295;
                color: #fff;
                border-radius: 5px;
            }
        }
        .pager-show-more {
            display: none;
            .pager-show-more-next {
                .ajax-progress-throbber {
                    display: none;
                }
                a {
                    border: none;
                    color: @spc-text-color;
                    font-size: 17px;
                    font-weight: 600;
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
        .loading-more-element {
            margin: 20px 0;
            text-align: center;
            div.load-more {
                padding: 5px 14px;
                display: inline-block;
                color: @spc-text-color;
                font-size: 17px;
                font-weight: 600;
            }
        }
        .pager-show-more-empty + .loading-more-element {
            display: none;
        }
    }
    &.page-articles {
        .articles-list {
            .item-list-pager {
                padding-top: 1px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                .pager {
                    margin-bottom: 86px;
                    margin-top: 37px;
                    li a {
                        padding: 5px 12px;
                        border-radius: 5px;
                        border: none;
                        background-color: #bcdfe5;
                        color: #fff;
                    }
                }
                clear: both;
                .previous, .next {
                    a {
                      float: none;
                    }
                }
                .current a, .current{
                    padding: 7px 12px;
                    background-color: #036295;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
}

.thematic-fa-icon {
  margin-right: 5px;
}

.view-mode-group_with_icon {
  .field-name-field-fa-icon {
    display: inline-block;
  }
}
.view-mode-topic_preview, .view-mode-group_with_icon {
  .field-name-field-fa-icon {
    .text-primary;
    padding-bottom: 5px;
    vertical-align: middle;
    &  + .field-type-image {
      display: none;
    }
  }
}
.thematic-fa-link:hover {
  text-decoration: none;
}

.page-user-login, .page-user {
    #block-system-main {
        padding: 145px 0 80px;
    }
    #header {
        position: relative;
        background-image: linear-gradient(135deg, @spc-primary-color 0%, @spc-secondary-color 100%);
    }
    form#user-login {
        max-width: 650px;
        margin: 0 auto;
        padding: 0 15px;
        label {
            font-size: 16px;
            color: @spc-strong-blue;
            &.required {
                &:after {
                    content: '*';
                    color: #f00;
                    padding-left: 4px;
                }
            }
        }
        input {
            display: block;
            height: 45px;
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            color: #2a2c2d;
            border: 1px solid #7d98a9;
            border-radius: 5px;
            box-shadow: none;
            padding: 0 10px;
            &[type='submit'] {
                background-color: @spc-secondary-color;
                font-weight: 400;
                color: #fff;
                margin-top: 30px;
                &:hover {
                    background-color: @spc-buttons-color;
                }
            }
        }
        &>div {
            margin-bottom: 20px;
        }
        .saml_sp_drupal_login-links {
            padding-left: 0;
            li {
                list-style: none;
                a {
                    font-size: 16px;
                    color: @spc-secondary-color;
                    &:hover {
                        color: @spc-buttons-color;
                    }
                }
            }
        }
        small {
            color: #2a2c2d;
        }
    }
}


.basic-page {
    .field-type-text-with-summary {
        padding: 100px 96px;
    }
}


#mobile-menu {
    display: none;
}
button.header-menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
    height: 25px;
    width: 65px;;
    span {
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 7px;
        position: relative;
        background: #fff;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    span:first-child {
        transform-origin: 0% 0%;
        margin-top: 0;
    }
    span:nth-child(2) {
        transform-origin: 0% 100%;
    }
    &:focus {
        outline: none;
    }
}
.ma5-menu-active {
    button.header-menu-btn {
        span {
            opacity: 1;
            transform: rotate(45deg) translate(7px, -9px);
        }
        span:nth-child(2) {
            transform: rotate(-45deg) translate(0, 15px);
        }
        span:nth-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    }
}
.ma5-menu-panel {
    background-color: @spc-primary-color;
    .ma5-btn-enter {
        background-color:  transparent;
    }
    li {
        border-bottom: 1px solid rgba(246, 240, 234, 0.5);
        &:hover {
            background-color: rgba(246, 240, 234, 0.5);
            a {
                color: #fff;
            }
        }
        &:first-child {
            margin-top: 70px;
            border-top: 1px solid rgba(246, 240, 234, 0.5);
        }
    }
    div.ma5-leave-bar {
        text-align: left;
        color: #fff;
        font-size: 16px;
        height: 70px;
        line-height: 70px;
        text-transform: none;
        padding: 0 0 0 90px;
        .ma5-btn-leave {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            height: 70px;
            line-height: 70px;
            padding: 0;
            overflow: hidden;
            right: auto;
            background-color: rgba(246, 240, 234, 0.25);
            color: #fff;
            cursor: pointer;
        }
    }
    a {
        font-family: 'Roboto';
        color: #fff;
        font-weight: 300;
    }
    a:before {
        font: normal normal normal 20px/1 'PngDataPortal';
        display: inline-block;
        padding: 0 10px;
        width: 50px;
    } 
    
}

.res-format-aac { .res-sprite(0, 0); }
.res-format-3ds { .res-sprite(1, 0); } 
.res-format-ai { .res-sprite(2, 0); }
.res-format-avi { .res-sprite(3, 0); }
.res-format-bmp { .res-sprite(4, 0); }
.res-format-cad { .res-sprite(5, 0); }
.res-format-cdr { .res-sprite(6, 0); }
.res-format-css { .res-sprite(7, 0); }
.res-format-dat { .res-sprite(8, 0); }
.res-format-dll { .res-sprite(9, 0); }
.res-format-doc { .res-sprite(10, 0); }
.res-format-dmg { .res-sprite(11, 0); }
.res-format-eps { .res-sprite(12, 0); }
.res-format-flv { .res-sprite(13, 0); }
.res-format-fla { .res-sprite(14, 0); }
.res-format-gif { .res-sprite(15, 0); }
.res-format-html { .res-sprite(16, 0); }
.res-format-indd { .res-sprite(17, 0); }
.res-format-iso { .res-sprite(18, 0); }
.res-format-jpg { .res-sprite(19, 0); }
.res-format-js { .res-sprite(20, 0); }
.res-format-midi { .res-sprite(21, 0); }
.res-format-mov { .res-sprite(22, 0); }
.res-format-mp3 { .res-sprite(23, 0); }
.res-format-mpg { .res-sprite(24, 0); }
.res-format-pdf { .res-sprite(25, 0); }
.res-format-php { .res-sprite(26, 0); }
.res-format-png { .res-sprite(27, 0); }
.res-format-ppt { .res-sprite(28, 0); }
.res-format-ps { .res-sprite(29, 0); }
.res-format-psd { .res-sprite(30, 0); }
.res-format-raw { .res-sprite(31, 0); }
.res-format-sql { .res-sprite(32, 0); }
.res-format-svg { .res-sprite(33, 0); }
.res-format-tif { .res-sprite(34, 0); }
.res-format-txt { .res-sprite(35, 0); }
.res-format-wmv { .res-sprite(36, 0); }
.res-format-xls { .res-sprite(37, 0); }
.res-format-xml { .res-sprite(38, 0); }
.res-format-zip { .res-sprite(39, 0); }
.res-format-api { .res-sprite(40, 0); }
.res-format-data { .res-sprite(41, 0); }
.res-format-csv { .res-sprite(42, 0); }
.res-format-docx { .res-sprite(43, 0); }
.res-format-json { .res-sprite(44, 0); }
.res-format-geojson { .res-sprite(45, 0); }
.res-format-jpeg { .res-sprite(46, 0); }
.res-format-kml { .res-sprite(47, 0); }
.res-format-kmz { .res-sprite(48, 0); }
.res-format-rdf { .res-sprite(49, 0); }
.res-format-wms { .res-sprite(50, 0); }
.res-format-xlsx { .res-sprite(51, 0); }


.lds-spinner {
    color: @spc-text-color;
    display: inline-block;
    position: relative;
    width: 45px;
    height: 7px;
}
.lds-spinner div {
    transform-origin: 25px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 24px;
    width: 2px;
    height: 5px;
    border-radius: 20%;
    background: @spc-text-color;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
