#mini-panel-header {
    background-color: #0d5ba8;
    color: #fff;
    padding: 15px 0;
    #logo {
        img {
            max-height: 100px;
        }
    }
    #search-block-form {
        color: #000;
        &>div {
            display: inline-block;
        }
    }
}
#mini-panel-footer {
    background-color: #fbf7ea;
}