#mini-panel-header {
    background: #036295 url(../img/spc/header_gradient.png) 50% 50% no-repeat;
    background-size: cover;
    height: 100px;
    line-height: 100px;
    color: #fff;
    #logo {
        img {
            max-height: 100px;
        }
    }
    #search-block-form {
        color: #000;
        &>div {
            display: inline-block;
        }
    }
}
#mini-panel-footer {
    background: #036295 url(../img/spc/footer_gradient.png) 50% 50% no-repeat;
    background-size: cover;
    padding: 85px 0 45px;
    font-size: 18px;
    color: #d6deea;
    a { 
        color: #d6deea;
    }
    h3 {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 25px;
    }
    ul {
        list-style: none;
        padding-left: 5px;
        li {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .social-icons {
        width: 255px;
        height: 40px;
        background: url(../img/spc/social_media_icons.png) 50% 50% no-repeat;
        margin-bottom: 20px;
    }
    input[type="text"] {
        height: 50px;
        width: 400px;
    }
    input[type="submit"] {
        height: 50px;
        width: 120px;
        border-radius: 5px;
        background-color:  #032f47;
        color:  #d6deea;
        border: none;
        font-weight: 700;
    }
}
