.node-type-dashboards {
	.node-dashboards {
		&.view-mode-full {
			.dashboard-logo {
				height: 90px;
				vertical-align: middle;
				margin: 0;
				display: flex;
				align-items: center;
				img {
					max-width: 100%;
					margin-left: 40px;
					@media (max-width: 767px) {
						margin-left: 0px;
					}
				}
			}
			.dashboard-banner-container {
				min-height: 310px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: left top;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-top: 100px;
				font-family: "Calibri";
				h1 {
					font-family: "Calibri";
					color: #fff;
					font-size: 42px;
					font-weight: 400;
					line-height: 1em;
				}
				.ckan-search-form-wrapper {
					text-align: center;
					form {
						width: 435px;
						height: 65px;
						padding: 5px;
						display: inline-block;
						border: 1px solid #1c7abb;
						text-align: left;
						background-color: #fff;
						@media (max-width: 440px) {
							width: 100%;
							display: flex;
						}
						& > div,
						& > input[type=submit] {
							float: left;
							display: inline-block;
						}
						& > div {
							height: 100%;
						}
						input[type=text] {
							height: 100%;
							width: 320px;
							background-color: #1c7abb;
							color: #fff;
							font-size: 16px;
							font-weight: 300;
							font-style: italic;
							text-align: left;
							padding: 0px 14px;
							border: none;
							vertical-align: middle;
							font-family: "Calibri Light";
							.placeholder(#fff);
							@media (max-width: 440px) {
								width: 100%;
							}
						}
						input[type=submit] {
							border: none;
							background-color: unset;
							color:  #032f47;
							font-size: 19px;
							font-weight: 400;
							text-align: left;
							height: 100%;
							padding-left: 30px;
							width: auto;
						}
					}
				}
			}
			.dashboard-search-container {
				min-height: 185px;
				font-family: "Calibri";
				padding-top: 36px;
				padding-bottom: 58px;
				h3 {
					margin-top: 0px;
					text-align: center;
					color: #032f47;
					font-size: 23px;
					font-weight: 700;
				}
				// .ckan-search-form-wrapper {
				// 	text-align: center;
				// 	form {
				// 		width: 435px;
				// 		height: 65px;
				// 		padding: 5px;
				// 		display: inline-block;
				// 		border: 1px solid #1c7abb;
				// 		text-align: left;
				// 		@media (max-width: 440px) {
				// 			width: 100%;
				// 			display: flex;
				// 		}
				// 		& > div,
				// 		& > input[type=submit] {
				// 			float: left;
				// 			display: inline-block;
				// 		}
				// 		& > div {
				// 			height: 100%;
				// 		}
				// 		input[type=text] {
				// 			height: 100%;
				// 			width: 320px;
				// 			background-color: #1c7abb;
				// 			color: #fff;
				// 			font-size: 16px;
				// 			font-weight: 300;
				// 			font-style: italic;
				// 			text-align: left;
				// 			padding: 0px 14px;
				// 			border: none;
				// 			vertical-align: middle;
				// 			font-family: "Calibri Light";
				// 			.placeholder(#fff);
				// 			@media (max-width: 440px) {
				// 				width: 100%;
				// 			}
				// 		}
				// 		input[type=submit] {
				// 			border: none;
				// 			background-color: unset;
				// 			color:  #032f47;
				// 			font-size: 19px;
				// 			font-weight: 400;
				// 			text-align: left;
				// 			height: 100%;
				// 			padding-left: 30px;
				// 			width: auto;
				// 		}
				// 	}
				// }
			}
			.dashboard-body-container {
				background-color: #00a9c3;
				padding-top: 28px;
				padding-bottom: 28px;
				.container {
					@media (min-width: 1400px) {
						padding-left: 0px;
						padding-right: 0px;
					}
					@media (min-width: 1060px) and (max-width: 1399px) {
						padding-left: 0px;
						padding-right: 0px;
					}

				}
				.dashboard-body {
					font-family: "Calibri Light";
					color: #fff;
					font-weight: 300;
					font-size: 17px;
					line-height: 1.75em;
					padding-left: 15px;
					padding-right: 15px;
					@media (max-width: 767px) {
						padding-left: 30px;
						padding-right: 30px;
					}
				}
			}
		}
	}
	.dashboard-goals {
		padding-top: 90px;
		padding-bottom: 60px;
		.inner {
			max-width: 840px;
			margin: auto;
			overflow: hidden;
			@media (max-width: 991px) {
				max-width: 560px
			}
			@media (max-width: 589px) {
				max-width: 420px
			}
			@media (max-width: 449px) {
				max-width: 280px
			}
			@media (max-width: 309px) {
				max-width: 140px
			}
			.column {
				float: left;
				img {
					padding: 7px;
				}
			}
		}
	}
}

/* dsp */
.node-type-dsp {
	.goals-navigation {
		padding: 0 40px;
		clear: both;
		.dropdown {
			button {
				background: transparent;
				border: none;
				color: #036295;
				padding: 0;
				.fa-caret-up {
					display: none;
				}
				.fa-caret-down {
					display: initial;
				}
			}
			&.open {
				button {
					.fa-caret-up {
						display: initial;
					}
					.fa-caret-down {
						display: none;
					}
				}
			}
			ul {
				width: 300px;
				li {
					margin-bottom: 5px;
					a {
						white-space: pre-wrap;
						color: #036295;
					}
					&:hover {
						a {
							color: #333;
						}
					}
				}
			}
		}
	}
	.node-dsp.view-mode-full {
		font-family: "Calibri";
		font-size: 14px;
		font-weight: 300;
		color:  #2a2c2d;
		clear: both;
		padding-top: 50px;
		.container {
			max-width: 1000px;
		}
		h1 {
			font-size: 25px;
			font-weight: 700;
			margin-top: 0;
		}
		p {
			margin-bottom: 20px;
		}
		.field.field-type-image {
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		.goal-body-wrapper {
			margin-bottom: 60px;
			overflow: hidden;
		}
		.field-collection-view {
			padding: 0;
			margin: 0 0 60px 0;
			.target-title {
				font-size: 25px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			.target-definition {
				font-size: 18px;
				font-weight: 400;
				color: #fff;
				padding: 15px 20px;
				margin-bottom: 20px;
				p {
					margin-bottom: 0;
				}
			}
		}
	}
	.field-collection-container {
		border-bottom: none;
	}
	.container.dsp-datasets-wrapper{
		max-width: 1000px;
		h2 {
			color:  #032f47;
			font-size: 22px;
			font-weight: 700;
			text-align: center;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
	.dsp-datasets {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 75px;
		.dataset-preview {
			display: inline-block;
			width: 49.3%;
			font-family: "Calibri";
			font-size: 14px;
			font-weight: 300;
			color:  #2a2c2d;
			background-color:  #f8f8f8;
			border-bottom: none;
			padding: 10px 15px;
			margin-bottom: 15px;
			p {
				margin-bottom: 5px;
			}
			.dataset-title {
				margin-bottom: 20px;
				a {
					font-size: 16px;
					font-weight: 300;
					color:  #046298;
				}
			}
			.dataset-date {
				span {
					color:  #2a2c2d;
				}
			}
			.dataset-formats {
				span {
					line-height: 22px;
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}
	}
}
