#mini-panel-home_banner, #thematic_landing_banner {
    position: relative;
    .field-type-image {
        background: #fff;
        max-width: 100%;
        overflow: hidden;
        clear: both;
        text-align: center;
    }
    .banner-image {
        height: 400px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-title {
        color:  #fff;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        &>.field-type-text-long:first-child {
            font-size: 50px;
            margin-bottom: 25px;
        }
        &>.field-type-text-long:last-child {
            margin-bottom: 60px;
        }
    }
    .spc-home-banner-block {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 800px;
        transform: translate(-50%, -50%);
        #ckan-search-form {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            position: relative;
            &>div {
                display: inline-block;
                input {
                    height: 60px;
                    width: 700px;
                    border-radius: 5px;
                    border: none;
                    box-shadow: none;
                    padding: 0 10px;
                    font-weight: 300;
                }
            }
            select {
                position: relative;
                background-color: #eee;
                font-weight: 300;
                padding: 0 15px;
                border-radius: 5px;
                height: 60px;
                width: auto;
                border: none;
            }
            input[type='submit'] {
                position: absolute;
                top: 10px;
                right: 60px;
                width: 35px;
                opacity: 0;
                background: none;
                border: none;
            }
        }
    }
}

#mini-panel-home_banner {
    .spc-home-banner-block {
        #ckan-search-form {
            &>div {
                position: relative;
                &:after {
                    content: '\f002';
                    font: normal normal normal 35px/1 FontAwesome;
                    position: absolute;
                    top: 11px;
                    right: 10px;
                }
            }
        }
    }
}

.data-category-title {
    background-color:  #393f45;
    height: 50px;
    h2 {
        line-height: 50px;
        color: #fff;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
}

#mini-panel-data_category {
    background-color: #fff;
    padding: 30px 0 5px;
    .pane-title {
        text-align: center;
    }
    .thumbnail {
        border: none;
        img {
            margin-bottom: 15px;
        }
        .group-title {
            font-size: 18px;
            font-weight: 400;
            color: #1d7bbc;
        }
    }
    a:hover {
        text-decoration: none;
    }
}

.bean-browse-by-data-category {
    .thumbnail {
        .group-title {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
    }
}

.data-insights-promoted-item {
    background-color:  #fff;
    margin-bottom: 30px;
    overflow: hidden;
    .field-type-text-with-summary, .insight-body {
        overflow: auto;
    }
    img {
      width: 100%;
    }
    h2 {
        line-height: 1.2;
        margin: 15px 0 20px;
        a {
            color:  #084255;
            font-size: 25px;
            font-weight: 400;
            &:hover {
                color:  #084255;
            }
        }
    }
}

#mini-panel-data_insights {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../img/spc/insights_bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 55px 0;
        &.pane-title {
            text-align: left;
        }
    }
    .data-insights-promoted-group {
        display: flex;
        margin-bottom: 60px;
        .data-insights-promoted-item {
            flex-grow: 1;
            display: inline-block;
            width: 50%;
            margin-left: 10px;
            margin-bottom: 0;
            &:first-child {
                margin-left: 0px;
            }
            h2 {
                margin: 0;
            }
        }
    }
    .view-all-link {
        color: #fff;
        &:after {
            background: url(../img/spc/view_all_arrow_white.png) 50% 50% no-repeat;
        }
    }
}

.view-all-link {
    color:  #032f47;
    font-size: 22px;
    display: block;
    position: relative;
    &:hover {
        color:  #032f47;
    }
    &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: auto;
        padding-left: 30px;
        width: 17px;
        height: 35px;
        background: url(../img/spc/view_all_arrow.png) 50% 50% no-repeat;
    }

}

#mini-panel-blog_preview {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../img/spc/background_01.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    h2 {
        font-size: 40px;
        font-weight: 300;
        color: #fff;
        margin: 0 0 50px;
    }
    .view-all-link {
        color: #fff;
        &:after {
            background: url(../img/spc/view_all_arrow_white.png) 50% 50% no-repeat;
        }
    } 
    .bean-article-on-home-page {
        .field-items {
            display: flex;
            flex-wrap: wrap;
            .field-item {
                margin-bottom: 30px;
                margin-left: 10px;
                max-width: 275px;
                &:first-child {
                    margin-left: 0;
                }
                .article-title-block {
                    h3 {
                        a {
                            font-size: 22px;
                            font-weight: 300;
                            color:  #fff;
                        }
                    }
                }
            }
        }
    }
}

#mini-panel-datasets_on_home_page {
    padding: 50px 0;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: url(../img/spc/dataset_block_border.png) 50% 50% no-repeat;
        background-size: cover;
        width: 100%;
        height: 6px;
    }
    .region {
        h2 {
            font-size: 40px;
            font-weight: 300;
            color:  #032f47;
            margin: 0 0 40px;
        }
    }
}

.dataset-preview {
    font-size: 18px;
    font-weight: 300px;
    color: #393f45;
    border-bottom: 2px solid #036295;
    margin-bottom: 25px;
    .dataset-title {
        font-size: 22px;
        color: #046298;
    }
    .dataset-groups {
        font-size: 14px;
        color: #036295;
        img {
            width: 18px;
            height: auto;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .dataset-date {
        span {
            color: #c60c30;
        }
    }
    .dataset-formats {
        margin-bottom: 15px;
        span {
            display: inline-block;
            margin-right: 5px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            line-height: 20px;
            height: 20px;
            width: auto;
            padding: 0 10px;
            border-radius: 5px;
            background-color: #2585bd;
            text-align: center
        }
    }
}

#member-countries-block {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../img/spc/background_02.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    height: 525px;
    h2 {
        font-size: 40px;
        font-weight: 400;
        color: #fff;
        margin: 0;
    }
    h3 {
        font-weight: 400;
        color: #fff;
    }
    .btn.dropdown-toggle {
        font-size: 16px;
        border: none;
        width: 365px;
        text-align: left;
    }
    .dropdown-menu {
        width: 365px;
    }
    .container {
        height: 100%;;
    }
    .row {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.dashboards-home {
    .jcarousel-skin-default {
        margin-bottom: 25px;
        .jcarousel-container-horizontal {
            width: auto;
            height: auto;
            position: relative;
            .jcarousel-clip-horizontal {
                width: auto;
            }
            .jcarousel-list {
                display: flex;
                .jcarousel-item {
                    height: auto;
                    &>div {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h2 {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .jcarousel-next-horizontal, .jcarousel-prev-horizontal {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
