.front {
    #one-fw-wrapper {
        .container {
            max-width: 1134px;
            @media (min-width: 1134px) {
                width: 1134px;
                padding: 0px 95px;
            }
        }
    }
}

#mini-panel-home_banner, #thematic_landing_banner {
    position: relative;
    .region-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bean-home-banner {
            width: 100%;
        }
    }
    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        strong {
            color: @spc-accent-color;
        }
    }
    .field-type-image {
        background: #fff;
        max-width: 100%;
        overflow: hidden;
        clear: both;
        text-align: center;
    }
    .banner-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 648px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-title {
        color:  #fff;
        text-align: center;
        h2 {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 12px;
        }
    }
    .spc-home-banner-block {
        width: 100%;
        padding: 0 15px;
        margin-top: -135px;
    }
}
#spc-home-banner-search {
    margin-top: 49px;
    .nice-select {
        .current {
            display: none;
        }
        ul {
            padding-left: 0;
            margin-top: 21px;
            margin-bottom: 0;
            li {
                position: relative;
                list-style: none;
                display: inline-block;
                font-size: 13px;
                color: #fff;
                line-height: 1;
                padding-left: 22px;
                margin: 0 29px;
                cursor: pointer;
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 16px;
                    height: 16px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    vertical-align: middle;
                }
                &.selected {
                    &:before {
                        background: #fff;
                    }   
                }
            }
        }
        &:focus {
            outline: none;
        }
    }
}
#ckan-search-form {
    position: relative;
    width: 494px;
    text-align: center;
    margin: 0 auto;
    &>div:first-child {
        position: relative;
        width: 100%;
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            right: 20px;
            .sprite('../img/sprite/spc_new_sprite.png', 22px, 30px, -3px, 0);
            background-size: 130%;
        }
        input {
            height: 40px;
            width: 100%;
            border-radius: 20px;
            border: none;
            padding: 0 28px;
            &[type='text'] {
                font-size: 15px;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.16);
            }
        }
    }
    input[type='submit'] {
        position: absolute;
        top: 10px;
        right: 14px;
        width: 35px;
        opacity: 0;
        background: none;
        border: none;
    }
}

.topics-home {
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
    .jcarousel-skin-default {
        max-width: 746px;
        margin: 0 auto;
        .jcarousel-container-horizontal {
            position: relative;
            height: 135px;
            width: auto;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 13px;
            padding: 10px 45px;
            .jcarousel-clip-horizontal {
                width: auto;
            }
        }
        .jcarousel-list {
            .jcarousel-item {
                height: auto;
                border: none;
                width: 155px;
                background: transparent;
                padding: 14px 0;
                &>div {
                    height: 100%;
                }
                .field-name-field-fa-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 50%;
                    padding: 0;
                    margin: 0 auto;
                    svg {
                        font-size: 20px;
                        color: #fff;
                    }
                }
                h4 {
                    margin-top: 12px;
                    margin-bottom: 0;
                }
                a {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.35);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    a {
                        color: #fff;
                    }
                    .field-name-field-fa-icon {
                        background: #fff;
                        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                        svg {
                            color: @spc-buttons-color;
                        }
                    }
                }
            }
        }
    }
    .jcarousel-next, .jcarousel-prev {
        display: inline-block;
        width: 8px;
        height: 8px;
        top: 62px;
        right: 35px;
        background: transparent;
        border: solid #fff;
        border-width: 0 2px 2px 0;
    }
    .jcarousel-next {
        transform: rotate(-45deg);
        &.jcarousel-next-disabled {
            display: none;
        }
    }
    .jcarousel-prev {
        transform: rotate(135deg);
        left: 35px;
        &.jcarousel-prev-disabled {
            display: none;
        }
    }
    .jcarousel-navigation {
        font-size: 5px;
        margin-top: 5px;
        li {
            a {
                display: inline-block;
                width: 5px;
                height: 5px;
                border: 1px solid #fff;
                border-radius: 50%;
                margin: 0 4px;
                span {
                    display: none;
                }
                &:hover {
                    background-color: #fff;
                }
            }
            &.active {
                a {
                    background-color: #fff;
                }
            }
        }
    }
}

#mini-panel-data_insights {
    padding: 35px 0px 54px 0px;
    h2 {
        color: #032f47;
        font-size: 29px;
        font-weight: 300;
        text-align: center;
        margin: 0 0 60px 0;
        &.pane-title {
            text-align: left;
        }
    }
    .data-insights-promoted-group {
        .make-row();
        .data-insights-promoted-item {
            &:nth-child(1),
            &:nth-child(2) {
                height: 285px;
                .make-md-column(6);
                .make-sm-column(6);
                .make-xs-column(12);
                h2 {
                    font-size: 17px;
                }
                .content {
                    max-height: 250px;
                }
            }
            &:nth-child(3) {
                padding-right: 6px;
            }
            &:nth-child(4) {
                padding-right: 6px;
                padding-left: 6px;
            }
            &:nth-child(5) {
                padding-left: 6px;
            }
            height: 203px;
            .make-md-column(4);
            .make-sm-column(4);
            .make-xs-column(12);
            margin-bottom: 30px;
            background-color:  #fff;
            overflow: hidden;
            .node {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: 1px solid #bcdfe5;
            }
            h2 {
                color: #032f47;
                margin: 0;
                text-align: left;
                font-weight: 700;
                font-size: 15px;
                padding: 10px;
                line-height: 15px;
                @media (max-width: @screen-sm) {
                    font-size: 17px;
                }
                a {
                    font-size: inherit;
                    color: inherit;
                    text-decoration: none;
                    font-weight: 700;
                }
            }
            .content {
                height: 100%;
                overflow: hidden;
                .field {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: auto;
                    & * {
                        padding: 0px;
                        margin: 0px;
                        max-height: 100%;
                    }
                    img, iframe {
                        .img-responsive();
                        height: 100%;
                        max-height: 250px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .view-all-link {
        color: #032f47;
    }
}

.view-all-link {
    color:  #032f47;
    font-size: 22px;
    display: block;
    position: relative;
    &:hover {
        color:  #032f47;
    }
    &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: auto;
        padding-left: 30px;
        width: 17px;
        height: 35px;
        background: url(../img/spc/view_all_arrow.png) 50% 50% no-repeat;
    }
}

#mini-panel-blog_preview {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../img/spc/background_01.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    h2 {
        font-size: 40px;
        font-weight: 300;
        color: #fff;
        margin: 0 0 50px;
    }
    .view-all-link {
        color: #fff;
        &:after {
            background: url(../img/spc/view_all_arrow_white.png) 50% 50% no-repeat;
        }
    }
    .bean-article-on-home-page {
        .field-items {
            display: flex;
            flex-wrap: wrap;
            .field-item {
                margin-bottom: 30px;
                margin-left: 10px;
                max-width: 275px;
                &:first-child {
                    margin-left: 0;
                }
                .article-title-block {
                    h3 {
                        a {
                            font-size: 22px;
                            font-weight: 300;
                            color:  #fff;
                        }
                    }
                }
            }
        }
    }
}

.latest-stories-homepage {
    padding: 35px 0px 50px 0px;
    color: #2a2c2d;
    h2 {
        font-size: 29px;
        font-weight: 300;
        color: #032f47;
        margin: 0 0 58px 0px;
    }
    .field-items {
        overflow: hidden;
        margin-left: -4px;
        margin-right: -4px;
        margin-bottom: 24px;
        .field-item {
            margin-bottom: 30px;
            padding-left: 4px;
            padding-right: 4px;
            float: left;
            width: 25%;
            .views-field-title {
    
                font-weight: 300;
                a {
                    font-size: 19px;
                    font-weight: 300;
                    color: #1d7bbc;
                    h3 {
                        font-size: 19px;
                        margin-top: 15px;
                        margin-bottom: 0px;
                        line-height: 23px;
                        padding: 0px 7px;
                    }
                }
            }
            .views-field-field-image {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#mini-panel-datasets_on_home_page {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 80px 0px;
    font-size: 17px;
    .region {
        &.two-50-first, &.two-50-second {
            padding-left: 13px;
            padding-right: 13px;
        }
        h2 {
            font-size: 29px;
            font-weight: 300;
            color:  #032f47;
            margin: 0 0 45px;
            text-align: center;
        }
        .view-all-link {
            margin-top: 35px;
        }
    }
    .dataset-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.65);
        border-bottom: none;
        height: 180px;
        padding: 17px 20px 17px 35px;
        margin-bottom: 25px;
        overflow: hidden;
        label {
            font-size: 15px;
        }
        .dataset-title {
            margin-bottom: 10px;
        }
        .dataset-date {
            margin-bottom: 6px;
            span {
                font-size: 15px;
            }
    
        }
        @media(max-width: 992px) {
            height: auto;
        }
    }
}

.dataset-preview {
    font-size: 17px;
    border-bottom: 1px solid #036295;
    padding: 12px 0 12px 0px;
    margin: 0px;
    color: #393f45;
    label {
        font-weight: 300;
        margin-right: 3px;
        margin-bottom: 0px;
        line-height: 1em;
        vertical-align: middle;
    }
    .dataset-title {
        padding:0px;
        margin-bottom: 14px;
        font-size: inherit;
        line-height: 1.2em;
        color: #046298;
    }
    .dataset-groups {
        margin-bottom: 13px;
        .organization {
            display: none;
        }
        p {
            margin: 0px;
            padding: 0px;
        }
        img {
            height: 46px;
            width: auto;
        }
    }
    .dataset-date {
        font-size: inherit;
        color: #393f45;
        margin-bottom: 10px;
        line-height: 1em;
        p {
            padding: 0px;
            margin: 0px;
        }
        span {
            font-size: inherit;
            color: #c35b6f;
            &:first-child {
                margin-left: 10px;
            }
        }

    }
    .dataset-formats {
        font-size: inherit;
        margin: 0px;
        padding: 0px;
        line-height: 22px;
        a {
            text-decoration: none;
            margin-right: 5px;
            span {
                font-size: 11px;
                display: inline-block;
                font-weight: 700;
                color: #fff;
                height: 20px;
                width: auto;
                padding: 0 10px;
                border-radius: 5px;
                background-color: #2585bd;
                text-align: center
            }
        }
    }
}


#member-countries-block {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0;
    height: 300px;
    h2 {
        font-size: 29px;
        font-weight: 300;
        color: #032f47;
        margin: 0px 0px 70px 0px;
    }
    h3 {
        font-size: 19px;
        font-weight: 300;
        color: #032f47;
        max-width: 275px;
        margin: 0px;
        line-height: 23px;
    }
    .btn.dropdown-toggle {
        font-size: 16px;
        border: 1px solid #bcdfe5;
        width: 365px;
        text-align: left;
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 16px;
            top: 14px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 7px solid #036295;
        }
    }
    .dropdown {
        &.open {
            .btn.dropdown-toggle {
                &:after {
                    .rotate(180deg);
                }
            }
        }
    }

    .dropdown-menu {
        width: 365px;
    }
    .row {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.dashboards-home {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 120px;
    h2 {
        margin-top: 0px;
        margin-bottom: 54px;
        font-size: 29px;
        font-weight: 300px;
    }
    .jcarousel-skin-default {
        max-width: 656px;
        margin-left: auto;
        margin-right: auto;
        .jcarousel-container-horizontal {
            padding: 0px;
            .jcarousel-clip-horizontal {
                .jcarousel-list {
                    background: none;
                    .jcarousel-item {
                        background: none;
                        margin-right: 39px;
                        margin-left: 39px;
                        width: 230px;
                        padding: 10px;
                        box-sizing: content-box;
                        .field-type-image {
                            background-color: #fff;
                            height: 230px;
                            line-height: 230px;
                            max-width: 100%;
                            box-shadow: 0px 0px 13px -1px rgba(116,131,138,0.35);
                            img {
                                width: 80%;
                                height: auto;
                                text-align: center;
                            }
                        }
                        h4 {
                            font-size: 19px;
                            color:  #1d7bbc;
                            margin-top: 17px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
            .jcarousel-next {
                top: 50%;
                right: 0px;
            }
            .jcarousel-prev {
                top: 50%;
                left: 0px;
            }
        }
    }
}

#homepage-stats-block {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    .homepage-stat-item {
        display: inline-block;
        padding: 0 65px;
        position: relative;
        &:hover, & a:hover {
            text-decoration: none;
        }
        &:first-child {
            border-right: 1px solid #ededed;
            padding-left: 0;
        }
        &:last-child {
            border-left: 1px solid #ededed;
            padding-right: 0;
        }
        .homepage-stat-info {
            display: inline-block;
            color: #000;
            margin-left: 45px;
            .homepage-stat-count {
                font-size: 36px;
                line-height: 36px;
                font-weight: 500;
            }
            .homepage-stat-type {
                font-size: 12px;
                text-align: left;
                margin-top: 5px;
            }
        }
        .homepage-stat-icon {
            height: 30px;
            position: absolute;
            top: 5px;
        }
    }
}