#mini-panel-home_banner, #thematic_landing_banner {
    position: relative;
    .region-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bean-home-banner {
            width: 100%;
        }
    }
    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        strong {
            color: @spc-accent-color;
        }
    }
    .field-type-image {
        background: #fff;
        max-width: 100%;
        overflow: hidden;
        clear: both;
        text-align: center;
    }
    .banner-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 648px;
        background-attachment: fixed;
        background-position: 50% 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner-title {
        color:  #fff;
        text-align: center;
        h2 {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 12px;
        }
    }
    .spc-home-banner-block {
        width: 100%;
        padding: 0 15px;
        margin-top: -135px;
    }
}

#spc-home-banner-search {
  margin-top: 49px;
    .nice-select {
        .current {
            display: none;
        }
        ul {
            padding-left: 0;
            margin-top: 21px;
            margin-bottom: 0;
            li {
                position: relative;
                list-style: none;
                display: inline-block;
                font-size: 13px;
                color: #fff;
                line-height: 1;
                padding-left: 22px;
                margin: 0 29px;
                cursor: pointer;
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 16px;
                    height: 16px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    vertical-align: middle;
                }
                &.selected {
                    &:before {
                        background: #fff;
                    }
                }
            }
        }
        &:focus {
            outline: none;
        }
    }
}

#ckan-search-form {
    position: relative;
    width: 494px;
    text-align: left;
    margin: 0 auto;
    input.form-autocomplete {
      background-image: none;
      outline: none;
    }
    #autocomplete {
        border-radius: 25px;
        border: solid 2px #dddddd;
        padding: 22px;
        background: #ffffff;
        margin-top: 1px;
        color: #333333;
        li {
          padding: 4px 7px;
          &:hover {
            background: #e5f5fc;
            border-radius: 13px;
            div {
              color: #33333e;
            }
          }
        }
    }
    &>div:first-child {
        position: relative;
        width: 100%;
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            right: 20px;
            .sprite('../img/sprite/spc_new_sprite.png', 22px, 30px, -9px, -6px);
            background-size: 310%;
        }
        input {
            height: 40px;
            width: 100%;
            border-radius: 20px;
            border: 2px solid white;
            padding: 0 28px;
            transition: border-color .2s;
            &:focus {
              border: 2px solid #006ed6;
            }
            &[type='text'] {
                font-size: 15px;
                box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.16);
            }
        }
    }
    input[type='submit'] {
        position: absolute;
        top: 10px;
        right: 14px;
        width: 35px;
        opacity: 0;
        background: none;
        border: none;
    }
}

.topics-home {
    position: absolute;
    bottom: 67px;
    left: 0;
    right: 0;
    .jcarousel-skin-default {
        max-width: 746px;
        margin: 0 auto;
        .jcarousel-container-horizontal {
            position: relative;
            height: auto;
            width: auto;
            border: 1px solid rgba(255, 255, 255, 0.15);
            border-radius: 13px;
            padding: 10px 45px;
            .jcarousel-clip-horizontal {
                width: auto;
            }
        }
        .jcarousel-list {
            .jcarousel-item {
                height: auto;
                border: none;
                width: 155px;
                background: transparent;
                padding: 14px 0;
                &>div {
                    height: 100%;
                }
                .field-name-field-fa-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 50%;
                    padding: 0;
                    margin: 0 auto;
                    svg {
                        font-size: 20px;
                        color: #fff;
                    }
                    .fp {
                        font-size: 30px;
                        color:#fff;
                    }

                }
                h4 {
                    margin-top: 12px;
                    margin-bottom: 0;
                }
                a {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.35);
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    a {
                        color: #fff;
                    }
                    .field-name-field-fa-icon {
                        background: #fff;
                        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                        svg {
                            color: @spc-buttons-color;
                        }
                        .fp {
                        color: @spc-buttons-color;
                        }
                    }
                }
            }
        }
    }
    .jcarousel-next, .jcarousel-prev {
        display: inline-block;
        width: 10px;
        height: 10px;
        top: 62px;
        right: 35px;
        background: transparent;
        border: solid #fff;
        border-width: 0 2px 2px 0;
    }
    .jcarousel-next {
        transform: rotate(-45deg);
        &.jcarousel-next-disabled {
            display: none;
        }
    }
    .jcarousel-prev {
        transform: rotate(135deg);
        left: 35px;
        &.jcarousel-prev-disabled {
            display: none;
        }
    }
    .jcarousel-navigation {
        font-size: 5px;
        margin-top: 5px;
        li {
            a {
                display: inline-block;
                width: 5px;
                height: 5px;
                border: 1px solid #fff;
                border-radius: 50%;
                margin: 0 4px;
                span {
                    display: none;
                }
                &:hover {
                    background-color: #fff;
                }
            }
            &.active {
                a {
                    background-color: #fff;
                }
            }
        }
    }
}

.data-insights-promoted-group.slick-slider {
    max-width: 1340px;
    margin: 0 auto;
    .slick-track {
        height: 480px;
    }
    .data-insights-promoted-item {
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 377px;
        width: 415px;
        background-color: #fff;
        border-radius: 13px;
        box-shadow: 0px 2px 15px 0px rgba(0,5,160,.15);
        padding: 10px;
        margin: 0 15px;
        transition: height 0.55s ease;
        &.slick-current {
            height: 457px;
        }
        .views-field-field-data-insights-preview {
            flex: 1;
            border-radius: 13px 13px 3px 3px;
            margin-bottom: 25px;
            overflow: hidden;
            .field-content {
                display: flex;
                justify-content: center;
                height: 100%;
                p {
                    margin-bottom: 0;
                    height: 100%;
                }
            }
            img, iframe {
                height: 100%;
            }
        }
        a {
            font-size: 15px;
            font-weight: 500;
            color: #000;
        }
    }
    .slick-arrow {
        display: inline-block;
        bottom: 4px;
        top: auto;
        width: 10px;
        height: 10px;
        background: transparent;
        border: solid #130E93;
        border-width: 0 1px 1px 0;
        &:before {
            content: none;
        }
        &.slick-next {
            right: 47%;
            transform: rotate(-45deg);
        }
        &.slick-prev {
            left: 47%;
            transform: rotate(135deg);
        }
    }
    .slick-dots {
        visibility: hidden;
    }
    .slide-number {
        font-size: 13px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

#mini-panel-data_insights {
    background: url('../img/spc_new/insights_hp_bg.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    padding: 95px 50px;
        &:before {
            content: ' ';
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            background-color: #FFC72E;
            border-top: 4px solid #FFC72E;
            border-right: 5px solid #F9F9F9;
            border-left: 5px solid #F9F9F9;
    }
    h2 {
        color: #000;
        font-size: 38px;
        font-weight: 700;
        text-align: center;
        margin: 0 0 11px;
    }
    .pane-data-insights-promoted {
        h2 {
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 55px;
        }
    }
    .rtecenter {
        text-align: center;
    }
}

.view-all-link {
    font-size: 15px;
    color: @spc-text-color;
}

#mini-panel-stories_on_the_hp {
    background: url('../img/spc_new/stories_hp_bg.png') no-repeat 50% 50%;
    background-size: cover;
    padding-bottom: 134px;
}

.latest-stories-slider {
    position: relative;
    max-width: 1440px;
    padding: 25px 40px 0;
    margin: 0 auto;

    .stories-list:before {
        content: '';
        width: 635px;
        height: 385px;
        display: block;
        background-image: url(/sites/all/themes/spc/img/sprite/spc_sprite.png);
        background-position: -846px 0px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
    }
    .stories-list {
        padding-top: 160px;
        .slick-list {
            max-width: 1072px;
            .field-item {
                margin: 0 14px;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                img {
                    border-radius: 13px;
                }
                h3 {
                    font-size: 13px;
                    font-weight: 400;
                    color: @spc-text-color;
                    margin-top: 5px;
                }
                .slide-num {
                    font-size: 15px;
                    font-weight: 700;
                    margin-top: 10px;
                }
            }
        }
    }
    .slick-dots {
        visibility: hidden;
        bottom: 0;
        li {
            width: auto;
            height: auto;
            button {
                width: 5px;
                height: 5px;
                border: 1px solid #000;
                border-radius: 50%;
                background-color: transparent;
                padding: 0;
                &:before {
                    content: none;
                }
            }
            &.slick-active {
                button {
                    background-color: #000;
                }
            }
        }
    }
    .slide-number {
        position: absolute;
        right: 170px;
        bottom: 205px;
        font-size: 13px;
        color: #fff;
    }
    .slick-arrow {
        display: inline-block;
        bottom: 150px;
        top: auto;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 13px;
            left: 11px;
            width: 8px;
            height: 8px;
            background: transparent;
            border: solid #fff;
            border-width: 0 1px 1px 0;
        }
        &.slick-next {
            right: 80px;
            &:before {
                transform: rotate(-45deg);
            }
        }
        &.slick-prev {
            left: auto;
            right: 185px;
            &:before {
                left: 14px;
                transform: rotate(135deg);
            }
        }
    }
    h2.pane-title {
        position: absolute;
        top: 110px;
        right: 60px;
        max-width: 200px;
        font-size: 38px;
        font-weight: 700;
        line-height: 1.2;
        color: #fff;
        margin: 0;
        z-index: 1;
    }
}

#mini-panel-datasets_on_home_page {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 80px 0px;
    font-size: 17px;
    .region {
        &.two-50-first, &.two-50-second {
            padding-left: 13px;
            padding-right: 13px;
        }
        h2 {
            font-size: 29px;
            font-weight: 300;
            color:  #032f47;
            margin: 0 0 45px;
            text-align: center;
        }
        .view-all-link {
            margin-top: 35px;
        }
    }
    .dataset-preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.65);
        border-bottom: none;
        height: 180px;
        padding: 17px 20px 17px 35px;
        margin-bottom: 25px;
        overflow: hidden;
        label {
            font-size: 15px;
        }
        .dataset-title {
            margin-bottom: 10px;
        }
        .dataset-date {
            margin-bottom: 6px;
            span {
                font-size: 15px;
            }

        }
        @media(max-width: 992px) {
            height: auto;
        }
    }
}

.dataset-preview {
    font-size: 17px;
    border-bottom: 1px solid #036295;
    padding: 12px 0 12px 0px;
    margin: 0px;
    color: #393f45;
    label {
        font-weight: 300;
        margin-right: 3px;
        margin-bottom: 0px;
        line-height: 1em;
        vertical-align: middle;
    }
    .dataset-title {
        padding:0px;
        margin-bottom: 14px;
        font-size: inherit;
        line-height: 1.2em;
        color: #046298;
    }
    .dataset-groups {
        margin-bottom: 13px;
        .organization {
            display: none;
        }
        p {
            margin: 0px;
            padding: 0px;
        }
        img {
            height: 46px;
            width: auto;
        }
    }
    .dataset-date {
        font-size: inherit;
        color: #393f45;
        margin-bottom: 10px;
        line-height: 1em;
        p {
            padding: 0px;
            margin: 0px;
        }
        span {
            font-size: inherit;
            color: #c35b6f;
            &:first-child {
                margin-left: 10px;
            }
        }

    }
    .dataset-formats {
        font-size: inherit;
        margin: 0px;
        padding: 0px;
        line-height: 22px;
        a {
            text-decoration: none;
            margin-right: 5px;
            span {
                font-size: 11px;
                display: inline-block;
                font-weight: 700;
                color: #fff;
                height: 20px;
                width: auto;
                padding: 0 10px;
                border-radius: 5px;
                background-color: #2585bd;
                text-align: center
            }
        }
    }
}

#member-countries-block {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 205px 0;
    .block-content {
        max-width: 1013px;
        height: 437px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .column {
            margin-right: 8px;
            height: 100%;
            .throbber {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: #000;
                opacity: 0.5;
                text-align: center;
                color: #fff;
                .fa-spin {
                    width: 10%;
                    height: 100%;
                }
            }
            &:last-child {
                margin-right: 0px;
            }
            .column-inner {
                display: flex;
                flex-direction: column;
                height: 100%;
                color: #fff;
                font-size: 13px;
                font-weight: 400;
                & > div {
                    width: 100%;
                }
            }
        }
        .left-column {
            width: 375px;
            background-image: url(/sites/all/themes/spc/img/sprite/spc_sprite.png);
            background-position: -200px -250px;
            background-size: auto;
            padding: 57px 30px 28px 30px;
            position: relative;
            flex: 0 0 auto;
            .border-left-radius(25px);
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(181deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            }
            .column-header {
                z-index: 1;
                h2 {
                    font-size: 38px;
                    font-weight: 700;
                    margin: 0px 0px 14px 0px;
                }
                p {
                    margin: 0 0 18px 0;
                    opacity: 0.85;
                }
            }
            .column-footer {
                margin-top: auto;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .datasets-count {
                    position: relative;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: left;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    .datasets-icon {
                        display: block;
                        width: 23px;
                        height: 30px;
                        background: url(../img/spc_new/document-icon.png) 50% 50% no-repeat;
                        background-size: cover;
                        margin-right: 10px;
                    }
                    .count {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .amount {
                            font-size: 25px;
                            font-weight: 600;
                            line-height: 1em;
                        }
                    }
                }
                .datasets-link {
                    a {
                        display: none;
                    }
                    .arrow-right-icon {
                        display: block;
                        width: 17px;
                        height: 12px;
                        background: url(../img/spc_new/right-arrow-icon.png) 50% 50% no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
        .right-column {
            flex: 1 1 auto;
            border-radius: 0 25px 25px 0;
            background-color: #00c6ec;
            padding: 11px;
            .gmap > div {
                background: unset !important;
                .zoom__controls {
                    width: 32px;
                    height: 74px;
                    margin: 24px 24px 0 0;
                    .controls--zoom-out,
                    .controls--zoom-in {
                        background-color: white;
                        width: 30px;
                        height: 30px;
                        border: 1px solid white;
                        border-radius: 50%;
                        cursor: pointer;
                        color: #000;
                        font-size: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .controls--zoom-in {
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .dropdown {
        width: 100%;
        max-width: 263px;
        .btn.dropdown-toggle {
            width: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            border-radius: 18px;
            background-color: #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 1em;
            color: #000;
            padding: 10px 22px 10px 20px;
            text-align: left;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                right: 20px;
                border: solid #000;
                border-width: 0 1px 1px 0;
                padding: 4px;
                transform: rotate(45deg);
            }
        }
        .dropdown-menu {
            /*position: relative;*/
        }
        .dropdown-list {
            height: 200px;
            overflow-y: scroll;
        }
        &.open {
            .btn.dropdown-toggle {
                &:after {
                    top: 15px;
                    .rotate(-135deg);
                }
            }
        }
    }
    @media (max-width: @screen-sm) {
        & {
            padding: 0;
            background: unset;
            .block-content {
                align-items: flex-start;
                flex-direction: column;
                height: auto;
                .column {
                    width: 100%;
                    .border-left-radius(0px);
                    .border-right-radius(0px);
                }
                .left-column {
                    padding: 34px 30px 20px 30px;
                    height: 250px;
                    margin: 0px;
                    .column-header {
                        h2 {
                            font-size: 25px;
                            margin-bottom: 22px;
                        }
                        p {
                            display: none;
                        }
                    }
                    .column-footer {
                        justify-content: flex-start;
                        .datasets-link {
                            margin-left: 15px;
                        }
                    }
                }
                .right-column {
                    height: 436px;
                }
            }
        }
    }
}

.dashboards-home {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    color: #000;
    .pane-title {
        margin-top: 0px;
        margin-bottom: 14px;
        font-size: 38px;
        font-weight: 700;
    }
    .pane-subtitle {
        font-size: 13px;
        margin-bottom: 10px;
    }

    @media (max-width: @screen-sm) {
        & {
            .pane-title {
                margin-bottom: 33px;
            }
            .pane-subtitle {
                display: none;
            }
            .attachment-before {
                padding: 0px;
            }
        }
    }
}

#homepage-stats-block {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    .homepage-stat-item {
        display: inline-block;
        padding: 0 65px;
        position: relative;
        &:hover, & a:hover {
            text-decoration: none;
        }
        &:first-child {
            border-right: 1px solid #ededed;
            padding-left: 0;
        }
        &:last-child {
            border-left: 1px solid #ededed;
            padding-right: 0;
        }
        .homepage-stat-info {
            display: inline-block;
            color: #000;
            margin-left: 45px;
            .homepage-stat-count {
                font-size: 36px;
                line-height: 36px;
                font-weight: 500;
            }
            .homepage-stat-type {
                font-size: 12px;
                text-align: left;
                margin-top: 5px;
            }
        }
        .homepage-stat-icon {
            height: 30px;
            position: absolute;
            top: 5px;
        }
    }
}

.lazy-load {
    background: url(../img/loader.gif) 50% 50% no-repeat;
}

#ckan-dataset-tabs-block {
    background-color: #F9F9F9;
    &:before {
        content: ' ';
        width: 150px;
        background-color: #FFC72E;
        display: block;
        margin: 0 auto;
        border-top: 4px solid #FFC72E;
        border-right: 5px solid #F9F9F9;
        border-left: 5px solid #F9F9F9;
    }
    .ckan-dataset-tabs-content {
        padding: 70px 0;
        .ckan-dataset-tabs-heading {
            text-align: center;
            h2 {
                font-weight: 700;
                font-size: 36px;
                color: #000;
            }
            .ckan-dataset-tabs-intro {
                font-size: 12px;
                margin-bottom: 15px;
            }
            .ckan-dataset-tabs-section {
                margin-bottom: 60px;
                .ckan-dataset-tabs-tab {
                    display: inline-block;
                    &.active a, & a:hover {
                        background: @spc-buttons-color;
                        color: #fff;
                        border-radius: 20px;
                    }
                    a {
                        padding: 6px 22px;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #000
                    }
                }
            }
        }
        .ckan-dataset-tabs-items {
            .ckan-dataset-tabs-item {
                .ckan-dataset-tab-container {
                    margin-bottom: 10px;
                    .list-of-items {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                    .carusel-of-items {
                        display: none;
                        .tab-data {
                            margin: 0 10px;
                            margin-bottom: 25px;
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .tab-data {
                    color: #000;
                    width: 32%;
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 15px;
                    margin-bottom: 25px;
                    box-shadow: 0px 0px 5px 2px rgb(235, 235, 235);
                    .dataset-org {
                        margin-bottom: 20px;
                        .media-object {
                            max-height: 70px;
                        }
                    }
                    .dataset-title {
                        margin-bottom: 10px;
                        a {
                            color: #000;
                            font-size: 13px;
                            font-weight: 600;
                            &:hover {
                                color: @spc-buttons-color;
                                text-decoration: none;
                            }
                        }
                    }
                    .dataset-date {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        .dataset-date-green {
                            color: #00D471;
                        }
                    }
                    .dataset-formats {
                        font-size: 13px;
                        font-weight: 500;
                        margin: 10px 0;
                        a {
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    .res-formats {
                        display: inline-block;
                        position: relative;
                        top: 14px;
                    }
                    .dataset-date > span, .dataset-formats > span {
                        margin-right: 30px;
                    }
                }
            }
        }
        .ckan-dataset-tabs-view-all {
            text-align: center;
            a {
                color: @spc-text-color;
                font-size: 15px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
