@media (max-width: 1439px) {
    .data-insights-promoted-group.slick-slider {
        max-width: 100%;
        .data-insights-promoted-item {
            width: 390px;
        }
    }
}


@media (max-width: 1199px) {
    #header {
        #main-menu {
            ul {
                li {
                    a {
                        padding: 0 12px;
                    }
                }
            }
        }
    }

    #mini-panel-footer { 
        input[type="text"] {
            width: 65%;
        }
    }
    #latest_tweets {
        img {
            width: 100%;
            height: auto;
        }
    }
    .thematic-group-articles {
        .field-type-entityreference {
            .field-items {
                flex-wrap: wrap;
                .field-item, .field-item.even {
                    margin-left: 20px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}


@media (max-width: 991px) {
    #main-menu {
        display: none;
    }

    .banner-with-title {
        .ckan-search-form-wrapper {
            width: 100%;
        }
    }

    .data-insights-promoted-group.slick-slider {
        .slick-arrow {
            &.slick-next {
                right: 44%;
            }
            &.slick-prev {
                left: 44%;
            }
        }
    }

    #mini-panel-blog_preview {
        .bean-article-on-home-page {
            .field-items {
                justify-content: center;
                .field-item {
                    margin-left: 30px;
                    &.even {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    #mini-panel-footer { 
        input[type="submit"] {
            width: 105px;
        }
    }
    #mini-panel-latest_datasets_and_insight {
        #two-50-middle-wrapper {
            .region {
                width: 100%;
                &.two-50-first {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #member-countries-block {
        .btn.dropdown-toggle,
        .dropdown-menu {
            width: 330px;
        }
    }
    .thematic-group-articles {
        .field-type-entityreference {
            .field-items {
                .field-item, .field-item.even {
                    margin-left: 10px;
                }
            }
        }
    }
    .not-front .data-insights-list {
        margin-left: 0;
        margin-right: 0;
    }
    .individual-data-insight-page {
        padding: 15px 30px;
        .node-data-insights {
            .body-text, .preview {
                padding: 0;
            }
        }
    }
}


@media (max-width: 767px) {
    #ckan-search-form {
        width: 100%;
    }
    .topics-home {
        .jcarousel-skin-default {
            .jcarousel-container-horizontal {
                padding: 10px 20px;
            }
            .jcarousel-list {
                .jcarousel-item {
                    width: 110px;
                }
            }
        }
        .jcarousel-next {
            right: 10px;
        }
        .jcarousel-prev {
            left: 10px;
        }
    }
    #mini-panel-home_banner, #thematic_landing_banner {
        h1 {
            font-size: 30px;
        }
    }
    .node-type-dashboards {
        .banner-with-title {
            padding: 0 15px;
            h1 {
                font-size: 25px;
            }
        }
    }
    .banner-with-title {
        height: 210px;
        justify-content: flex-end;
        padding-bottom: 50px;
        h1 {
            font-size: 26px;
        }
    }

    .breadcrumb-box {
        display: none;
    }

    .container-on-banner {
        .banner-with-title {
            height: 328px;
            z-index: -1;
        }
        .bean-banner-with-title + .container {
            margin: -200px 15px 0;
        }
        .individual-data-insight-page.container {
            margin-bottom: 30px;
        }
    }

    #mini-panel-data_insights {
        padding: 75px 0 55px;
        h2 {
            font-size: 25px;
        }
        .pane-data-insights-promoted {
            h2 {
                display: none;
            }
        }
    }
    .data-insights-promoted-group.slick-slider {
        max-width: 100%;
        .slide-number {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    .thematic-group-articles {
        .field-type-entityreference {
            .field-items {
                justify-content: center;
            }
        }
    }
    #member-countries-block {
        height: auto;
        padding: 25px 0px 50px 0px;
        h2 {
            margin-bottom: 30px;
        }
        .btn.dropdown-toggle {
            margin-top: 15px;
        }
        .row  {
            display: block;
        }
    }
    .node-type-thematic-group {
        #node_content {
            padding-left: 15px;
            padding-right: 15px;
        }
        .thematic-group-image {
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .not-front .node-data-insights {
        .insights-topic {
            margin-bottom: 25px;
        }
        img, iframe {
            max-width: 100%;
        }
    }
    .node-type-article {
        .similar-posts {
            padding: 0 15px;
            .field-items {
                flex-wrap: wrap;
                justify-content: center;
                .field-item {
                    margin-bottom: 20px;
                    width: 190px;
                }
            }
        }
        .article {
            img {
                width: 100%;
            }
        }   
    }
    #mini-panel-datasets_on_home_page {
        .view-all-link {
            margin-bottom: 40px;
        }
        .region h2 {
            margin-bottom: 20px;
        }
    }
    .node-type-dsp {
        .node-dsp.view-mode-full {
            .field.field-type-image {
                float: none;
                margin-right: 0;
                margin-bottom: 30px;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .dsp-datasets {
            column-count: 1;
            .dataset-preview {
                width: 100%;
            }
        }
    }
    #homepage-stats-block {
        margin-bottom: 40px;
        margin-top: 40px;
        .homepage-stat-item {
            padding: 0 5%;
            .homepage-stat-info {
                margin: 0;
                .homepage-stat-count {
                    font-size: 24px;
                    line-height: 24px;
                }
            }
            .homepage-stat-icon {
                display: none;
            }
        }
    }
    #ckan-dataset-tabs-block {
        .ckan-dataset-tabs-content {
            .ckan-dataset-tabs-heading {
                .ckan-dataset-tabs-section {
                    margin-bottom: 30px;
                }
            }
            .ckan-dataset-tabs-items {
                .ckan-dataset-tabs-item {
                    .ckan-dataset-tab-container {
                        .list-of-items {
                            display: none;
                        }
                        .carusel-of-items {
                            display: block;
                        }
                        .tab-data {
                            .dataset-date > span, .dataset-formats > span {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .not-front .data-insights-list {
        .data-insights-list-item {
            width: 100%;
        }
    }
}


@media (max-width: 569px) {
    #mini-panel-blog_preview {
        .bean-article-on-home-page {
            .field-items {
                .field-item {
                    margin-left: 0;
                }
            }
        }
    }
    .thematic-group-articles {
        .field-type-entityreference {
            .field-items {
                .field-item {
                    margin-left: 0;
                    &.even {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


@media (max-width: 488px) {
    #node_content {
        padding: 80px 15px 60px;
    }
    .node-type-thematic-group {
        .thematic-group-image {
            img {
                margin-bottom: 15px;
                width: 100%;
            }
        }
    }
    .node-article.view-mode-featured .node-content-container {
        padding-left: 18px;
        padding-right: 18px;
    }
    .not-front .data-insights-list {
        .data-insights-list-item {
            height: 340px;
            .insights-list-preview {
                height: 240px;
                img, iframe {
                    max-height: 240px;
                }
            }
        }
    }
}


@media (max-width: 440px) {
    .data-insights-promoted-group.slick-slider {
        .data-insights-promoted-item {
            width: 290px;
        }
    }

    #member-countries-block {
        .btn.dropdown-toggle {
            font-size: 14px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            padding: 0px 13px;
        }
        .dropdown-menu {
            width: 100%;
        }
    }
}


@media (max-width: 342px) {
    #mini-panel-footer {
        input[type="text"] {
            width: 100%;
            margin-bottom: 10px;
        }
        input[type="submit"] {
            margin: 0 auto;
            display: block;
        }
    }
    .node-type-dsp {
        .goals-navigation {
            .dropdown {
                ul {
                    width: 100%;
                }
            }
        }
    }
}
