#thematic_landing_banner {
    .spc-home-banner-block {
        margin-top: 0;
    }
    .banner-image {
        height: 453px;
    }
    #spc-home-banner-search {
        margin-top: 0;
    }
}

.node-type-thematic-group {
	h2 {
		font-size: 40px;
		font-weight: 300;
		color: #032f47;
		text-align: center;
		margin-top: 0;
		margin-bottom: 60px;
	}
	.thematic-group-image {
		float: left;
		margin-right: 15px;
		img {
			max-height: 320px;
			max-width: 410px;
			height: auto;
			width: auto;
		}
	}
	.latest-tweets-block {
		padding: 37px 0 98px;
		h2 {
			margin-bottom: 40px;
		}
	}
}

.panel-style-narrow {
	padding: 35px 0px 50px 0px;
	color: #2a2c2d;
	h2 {
		color: #032f47;
		text-align: left;
        font-size: 29px;
        font-weight: 300;
        color: #032f47;
        margin: 0 0 58px 0px;
        width: 100%;
	}
	.container {
		padding: 0px 95px;
	}
}

.thematic-group-articles {
	font-size: 19px;
	line-height: 1.5em;
    color: #1d7bbc;
    background-color: #f6f8fa;
    padding-bottom: 60px;
    .field-items {
        overflow: hidden;
        margin-left: -4px;
        margin-right: -4px;
        margin-bottom: 24px;
        .field-item {
            margin-bottom: 30px;
            padding-left: 4px;
            padding-right: 4px;
            float: left;
            width: 25%;
        }
    }
    .views-field-title {
        font-weight: 300;
        a {
            font-size: 19px;
            font-weight: 300;
            color: #1d7bbc;
            h3 {
                font-size: 19px;
                margin-top: 15px;
                margin-bottom: 0px;
                line-height: 23px;
                padding: 0px 7px;
            }
        }
    }
    .views-field-field-image {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.pane-browse-by-data-category {
	position: absolute;
}

#node_content {
	padding: 57px 0 74px;
	color: #2a2c2d;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.5em;
}

#thematic-group-popular-datasets {
	background-position: 50% 0%;
	padding-bottom: 74px;
	h2 {
		margin-bottom: 43px;
		margin-left: 15px;
	}
	.region-inner {
		.make-row();
		display: flex;
		flex-wrap: wrap;

	}
  .dataset-preview {
		.make-md-column(6);
		.make-sm-column(6);
		.make-xs-column(12);
		padding-top: 0px;
		padding-bottom: 15px;
        height: auto;
        border-bottom: none;
        margin-bottom: 0px;
        overflow: hidden;
        .dataset-preview-inner {
            background-color: rgba(255, 255, 255, 0.65);
            padding: 17px 20px 17px 35px;
            height: 100%;
        }
        label {
        font-size: 15px;
	  }
	  .dataset-title {
        margin-bottom: 10px;
	  }
	  .dataset-date {
        margin-bottom: 6px;
        span {
            font-size: 15px;
        }
	  }
  }
}
