.node-type-thematic-group {
	h2 {
		font-size: 40px;
		font-weight: 300;
		color: #032f47;
		text-align: center;
		margin-top: 0;
		margin-bottom: 60px;
	}
	.thematic-group-image {
		float: left;
		margin-right: 15px;
		img {
			max-height: 320px;
			max-width: 410px;
			height: auto;
			width: auto;
		}
	}
	.dataset-title {
		text-align: center;
	}
}

.thematic-group-articles {
	padding: 20px 0 20px;
	background:  linear-gradient(to right, #114976, rgba(0, 0, 0, 0.2));
	.field-type-entityreference {
		max-width: 1170px;
		margin: 0 auto;
		.field-items {
			display: flex;
			.field-item {
				margin-left: 20px;
				display: inline-block;
				max-width: 280px;
				&:first-child {
					margin-left: 0px;
				}
				.thematic-group-article-item {
					text-align: center;
				}
			}
		}
	}
	.field-type-image {
		margin-bottom: 30px;
		img {
			border: 1px solid #036295;
		}
	}
	h4 {
		font-size: 25px;
		font-weight: 300;
		text-align: center;
		margin: 0;
		a {
			color:  #fff;
		}
	}
	h2 {
		color: #fff;
	}
}

.thematic-heading-block {
	height: 60px;
	line-height: 60px;
	clear: both;
	padding: 0 50px;
	button {
		border: none;
		background-color: transparent;
		color:  #036295;
		font-size: 25px;
		font-weight: 300;
		padding: 0;
		img {
			max-height: 42px;
			max-width: 42px;
			width: auto;
			height: auto;
			margin-right: 10px;
		}
		i.fa {
			margin-left: 10px;
		}
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			outline: none;
		}
	}
	.dropdown-menu {
		top: 92%;
		a {
			color:  #036295;
		}
	}
}

#thematic_landing_banner {
	.spc-home-banner-block {
		top: 30%;
		#ckan-search-form {
			input[type='text'] {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				width: 500px;
			}
			div {
				border: 1px solid #7d98a9;
				overflow: hidden;
				&:first-of-type {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-right: none;
					position: relative;
					&::after {
							content: '';
							position: absolute;
							width: 1px;
							height: 52px;
							background-color: #7d98a9;
							right: 7px;
							top: 4px;
					}
				}
				&:last-of-type {
					margin-left: -13px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-left: none;
				}
			}
		}
	}
	.banner-links {
		height: 175px;
		background-color: rgba(74, 133, 165, 0.5);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		.link-block {
			position: relative;
			border-left: 4px solid #7d98a9;
			padding: 40px 0 0 60px;
			height: 175px;
			font-size: 30px;
			font-weight: 700;
			color: #fff;
			text-align: center;
			&:first-child {
				border-left: none;
			}
			span {
				font-weight: 300;
			}
			.icon-wrapper {
				position: absolute;
				top: -35px;
				left: 35px;
				width: 115px;
				height: 115px;
				border-radius: 50%;
				background-color: #1c7abb;
				display: flex;
				align-items: center;
				justify-content: space-around;		
				img {
					max-width: 90px;
					max-height: 90px;
					width: auto;
					height: auto;
					min-width: auto;
					min-height: auto;
				}
			}
		}
	}
}

#node_content {
	padding: 80px 0 60px;
}

#thematic_insight {
	.data-insights-promoted-item {
		background-color: #dfeaf2;
		.insight-body {
			text-align: center;
		}
		.release-date {
			height: 60px;
			line-height: 60px;
			font-size: 20px;
			color: #393f45;
			font-weight: 300;
			padding: 0 15px;
			span {
				color: #c60c30;
			}
		}
		h2 {
			line-height: 1;
			margin: 10px 0 20px;
			a {
				color: #036295;
			}
		}
	}
}

#mini-panel-latest_datasets_and_insight {
	padding: 20px 0 20px;
	&:before {
		content: '';
		background: url(../img/spc/divided_line.png) 50% 50% no-repeat;
		background-size: cover;
		width: 100%;
		height: 8px;
		position: relative;
		top: -60px;
	}
}

#latest_tweets {
	padding: 20px 0 30px;
}
