.node-type-thematic-group {
	.thematic-group-image {
		float: right;
	}
	.dataset-title {
		text-align: center;
	}
	.thematic-group-articles {
		clear: both;
	}
	.thematic-group-article-item {
		display: inline-block;
	}
}