@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.banner-with-title.health-dashboard {
  background-image: url('../img/Fishes-background.png');
}
.banner-with-title.health-dashboard-header h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-transform: none;
}
.health-dashboard-header .left-label {
  background: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  height: 50px;
  padding: 11px 40px 11px 30px;
  border-radius: 0px 30px 30px 0px;
  width: 272px;
  align-self: flex-start;
  margin-top: 50px;
}
.health-dashboard-header .breadcrumbs {
  align-self: flex-start;
  margin: 0px 20px 10px;
}
.health-dashboard-header .breadcrumb {
  color: white;
  padding-left: 12px;
}
.health-dashboard-header .breadcrumb > div {
  float: left;
  margin: 0px 5px;
}
.health-dashboard-header .breadcrumb .delimiter {
  margin-top: 20px;
}
.health-dashboard-header .breadcrumb .dropdown {
  min-width: 265px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  padding: 9px 20px;
  max-height: 50px;
  margin-top: 5px;
}
.health-dashboard-header .breadcrumb .dropdown > a {
  pointer-events: none;
}
.health-dashboard-header .breadcrumb .dropdown .breadcrumb-subitems {
  display: none;
}
.health-dashboard-header .breadcrumb .dropdown:hover {
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
}
.health-dashboard-header .breadcrumb .dropdown:hover .breadcrumb-subitems {
  display: block;
  position: absolute;
  min-width: 265px;
  background: #FFFFFF;
  color: #383838;
  max-height: 189px;
  overflow: hidden;
  left: -1px;
  right: -1px;
  padding: 0px 15px 10px 20px;
  border-radius: 0px 0px 30px 30px;
}
.health-dashboard-header .breadcrumb .dropdown:hover .breadcrumb-subitems .subitems-wrapper {
  overflow: auto;
  max-height: 189px;
}
.health-dashboard-header .breadcrumb .dropdown:hover .breadcrumb-subitems a {
  color: #383838;
  width: 100%;
  display: block;
  line-height: 16px;
  padding: 7px 0px;
}
.health-dashboard-header .breadcrumb .dropdown:hover .breadcrumb-subitems a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.health-dashboard-header .breadcrumb .dropdown:hover::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  right: 15px;
}
.health-dashboard-header .breadcrumb .dropdown:hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.health-dashboard-header .breadcrumb .dropdown:hover a {
  color: #CACACA;
  text-decoration: none;
  cursor: default;
}
.health-dashboard-header .breadcrumb a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
}
.health-dashboard-header .breadcrumb a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.health-dashboard-header .breadcrumb > div.first {
  margin-left: 0px;
  margin-top: 15px;
}
.health-dashboard-header .search {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .health-dashboard-header.banner-with-title {
    height: 430px;
    justify-content: flex-end;
    padding-bottom: 0px;
  }
  .health-dashboard-header .search {
    margin: 20px 0 40px;
  }
  .health-dashboard-header .left-label {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding: 11px 40px 11px 30px;
    width: 210px;
  }
  .banner-with-title.health-dashboard-header h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .health-dashboard-header .breadcrumbs {
    margin: 0px;
  }
  .x.axis text {
    transform: rotate(90deg);
    text-anchor: start !important;
  }
  .stacked-chart-global {
    padding-bottom: 60px !important;
  }
}
@media (max-width: 550px) {
  .health-dashboard-header .breadcrumbs {
    display: none;
  }
  .health-dashboard-header.banner-with-title {
    height: 365px;
  }
  .banner-with-title.health-dashboard-header h1 {
    font-size: 20px;
    line-height: 24px;
    max-width: 95%;
    margin-left: 2%;
  }
}
.health-home-chart {
  margin-top: 50px;
}
.stacked-chart-global {
  box-shadow: 0px 2px 50px rgba(0, 5, 160, 0.102);
  border-radius: 25px;
  padding: 40px;
}
.stacked-chart-global svg {
  overflow: visible !important;
}
.health-dashboard-content {
  margin: 40px auto;
}
.health-dashboard-content .chart-global-legend {
  margin-top: 100px;
}
.health-dashboard-content .legend {
  margin-bottom: 60px;
  font-size: 10px;
}
.health-dashboard-content .legend:before {
  content: '';
  width: 40%;
  max-width: 110px;
  height: 20px;
  border: 1px solid;
  display: block;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
}
.health-dashboard-content .present:before {
  background: #cfff6fb3;
  border-color: #CFFF6F;
}
.health-dashboard-content .development:before {
  background: #ffc00080;
  border-color: #FFC000;
}
.health-dashboard-content .not-present:before {
  background: #ff000080;
  border-color: #FF0000;
}
@media (max-width: 1000px) {
  .health-dashboard-content .chart-global-legend {
    margin-top: 50px;
  }
  .health-dashboard-content .legend {
    margin-bottom: 20px;
  }
}
/**
 * Health Dashboard Category menu.
 */
.health-dashboard-categories {
  float: left;
  width: 48%;
  margin: 30px auto;
}
@media (max-width: 1024px) {
  .health-dashboard-categories {
    width: 100%;
  }
}
.health-dashboard-categories li {
  list-style: none;
}
.health-dashboard-categories a,
.health-dashboard-categories label {
  display: block;
  padding: 0.85rem 0.85rem 0.85rem 0rem;
  color: black;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #3B3B3B;
}
.health-dashboard-categories a:first-child,
.health-dashboard-categories label:first-child {
  margin-top: 20px;
}
.health-dashboard-categories a:focus,
.health-dashboard-categories label:focus,
.health-dashboard-categories a:hover,
.health-dashboard-categories label:hover {
  color: rgba(0, 0, 0, 0.45);
}
.health-dashboard-categories label {
  cursor: pointer;
}
.health-dashboard-categories .group-list {
  padding-left: 0px;
}
.health-dashboard-categories .group-list svg {
  margin-left: 7px;
  color: #00C6EC;
}
.health-dashboard-categories .group-list li:last-child {
  margin-bottom: 20px;
}
.health-dashboard-categories .group-list a,
.health-dashboard-categories .group-list label {
  margin: 0px;
  padding: 0px 0px 0px 2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
.health-dashboard-categories .group-list a.indicator,
.health-dashboard-categories .group-list label.indicator {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #3B3B3B;
  padding-left: 0px;
}
.health-dashboard-categories .group-list a:focus,
.health-dashboard-categories .group-list label:focus,
.health-dashboard-categories .group-list a:hover,
.health-dashboard-categories .group-list label:hover {
  color: gray;
}
.health-dashboard-categories .sub-group-list {
  padding-left: 0px;
}
.health-dashboard-categories .sub-group-list li:first-child {
  margin-top: 10px;
}
.health-dashboard-categories .sub-group-list a,
.health-dashboard-categories .sub-group-list label {
  padding-left: 25px;
}
@media (max-width: 767px) {
  .health-dashboard-categories .sub-group-list a,
  .health-dashboard-categories .sub-group-list label {
    padding-left: 0px;
  }
}
.health-dashboard-categories .sub-group-list a:focus,
.health-dashboard-categories .sub-group-list label:focus,
.health-dashboard-categories .sub-group-list a:hover,
.health-dashboard-categories .sub-group-list label:hover {
  color: gray;
  text-decoration: none;
}
.health-dashboard-categories .sub-sub-group-list a,
.health-dashboard-categories .sub-sub-group-list label {
  padding-left: 6rem;
}
.health-dashboard-categories .sub-sub-group-list a:focus,
.health-dashboard-categories .sub-sub-group-list label:focus,
.health-dashboard-categories .sub-sub-group-list a:hover,
.health-dashboard-categories .sub-sub-group-list label:hover {
  color: gray;
}
.health-dashboard-categories .group-list,
.health-dashboard-categories .sub-group-list,
.health-dashboard-categories .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.15s ease-in-out;
  transition: max-height 0.15s ease-in-out;
}
.health-dashboard-categories .nav__list input[type=checkbox]:checked + label + ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
}
.health-dashboard-categories label > span {
  float: right;
  -webkit-transition: -webkit-transform 0.65s ease;
  transition: transform 0.65s ease;
}
.health-dashboard-categories .nav__list input[type=checkbox]:checked + label > svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/**
 * Health Dashboard Country page.
 */
.health-country-chart {
  width: 100%;
  margin-bottom: 40px;
}
.block-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.block-indicator-group {
  position: relative;
  box-shadow: 0px 2px 50px rgba(0, 5, 160, 0.102);
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 30px;
}
.helth-indicators {
  display: none;
}
.toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  border: 1px solid #00C6EC;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}
.arrow {
  width: 10px;
  height: 10px;
  background-image: url(../img/arrow-down.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  margin-top: 10px;
  margin-left: 7px;
  cursor: pointer;
}
.arrow.down {
  margin-top: 8px;
  background-image: url(../img/arrow-up.svg);
}
.block-indicator-group .category-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.block-indicator-group .category-title:before {
  content: '';
  display: block;
  float: left;
  margin-top: -5px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #001E73;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.block-indicator-group .leadership-and-governance:before {
  background-image: url(../img/leadership-and-governance.svg);
  background-size: 60%;
}
.block-indicator-group .tobacco:before {
  background-image: url(../img/tobacco.svg);
  background-size: 60%;
}
.block-indicator-group .alcohol:before {
  background-image: url(../img/alcohol.svg);
  background-size: 60%;
}
.block-indicator-group .food:before {
  background-image: url(../img/food.svg);
  background-size: 60%;
}
.block-indicator-group .physical-activity:before {
  background-image: url(../img/physical-activity.svg);
  background-size: 60%;
}
.block-indicator-group .enforcement:before {
  background-image: url(../img/enforcement.svg);
  background-size: 60%;
}
.block-indicator-group .health-system:before {
  background-image: url(../img/health-system.svg);
  background-size: 60%;
}
.block-indicator-group .monitoring:before {
  background-image: url(../img/monitoring.svg);
  background-size: 60%;
}
.helth-indicators h6 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
}
.helth-indicators p {
  font-size: 10px;
  line-height: 22px;
}
.helth-indicators .status-strength {
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 10px;
  width: 110px;
  height: 20px;
  cursor: pointer;
}
.helth-indicators .not-present {
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid #FF0000;
}
.helth-indicators .under-development {
  background: rgba(255, 192, 0, 0.5);
  border: 1px solid #FFC000;
}
.helth-indicators .present {
  background: rgba(207, 255, 111, 0.7);
  border: 1px solid #CFFF6F;
}
.helth-indicators .low {
  background: rgba(121, 255, 112, 0.7);
  border: 1px solid #79FF70;
  background-image: url(../img/low.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.helth-indicators .medium {
  background: rgba(61, 203, 45, 0.7);
  border: 1px solid #3DCB2D;
  background-image: url(../img/medium.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.helth-indicators .high {
  background: rgba(31, 102, 23, 0.7);
  border: 1px solid #1F6617;
  background-image: url(../img/high.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.ui-widget,
.ui-dialog-content {
  padding: 0 !important;
  border-color: #fff;
  border-radius: 20px;
}
.ui-dialog .ui-dialog-titlebar {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute !important;
  right: 0;
  top: 10px;
  z-index: 10;
}
.ui-dialog .ui-dialog-titlebar-close {
  background-image: url(../img/close.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-color: #fff;
  margin-right: 15px;
  margin-top: 0px;
  border: none;
}
.ui-dialog .ui-dialog-titlebar-close:focus {
  border: none;
}
.ui-dialog .country-detales {
  background: #F8F8F8;
  height: 100%;
  overflow: hidden;
}
.ui-dialog h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0px;
}
.ui-dialog .status-strength {
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 10px;
  width: 110px;
  height: 20px;
  margin: 10px 0;
}
.ui-dialog .not-applicable {
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  box-sizing: border-box;
  text-align: center;
  color: #C1C1C1;
}
.ui-dialog .not-present {
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid #FF0000;
}
.ui-dialog .under-development {
  background: rgba(255, 192, 0, 0.5);
  border: 1px solid #FFC000;
}
.ui-dialog .present {
  background: rgba(207, 255, 111, 0.7);
  border: 1px solid #CFFF6F;
}
.ui-dialog .low {
  background: rgba(121, 255, 112, 0.7);
  border: 1px solid #79FF70;
  background-image: url(../img/low.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.ui-dialog .medium {
  background: rgba(61, 203, 45, 0.7);
  border: 1px solid #3DCB2D;
  background-image: url(../img/medium.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.ui-dialog .high {
  background: rgba(31, 102, 23, 0.7);
  border: 1px solid #1F6617;
  background-image: url(../img/high.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}
.ui-dialog .indicator-title {
  margin-top: -15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.ui-dialog .text {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}
.ui-dialog .map {
  background-image: url(../img/map/palau.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  width: auto;
  height: 80%;
}
.ui-dialog span.green {
  display: inline-block;
  background: #CFFF6F;
  border-radius: 2px;
  width: 10px;
  height: 10px;
}
.ui-dialog .country-flag {
  float: left;
  display: block;
  margin-top: 23px;
  margin-right: 10px;
  width: 30px;
}
.health-dashboard-countries {
  float: left;
  width: 50%;
  margin: 30px auto;
}
@media (max-width: 1024px) {
  .health-dashboard-countries {
    width: 100%;
  }
}
.health-dashboard-countries a {
  padding: 30px 20px;
  text-align: center;
  display: block;
  float: left;
  background: #F2F2F2;
  border-radius: 15px 15px 15px 0px;
  width: 160px;
  height: 130px;
  margin: 30px 30px 0 0;
}
@media (max-width: 767px) {
  .health-dashboard-countries a {
    width: 108px;
    height: 90px;
    padding: 15px 20px;
    margin: 5px 5px 0 0;
  }
}
.health-dashboard-countries a img {
  width: 60px;
  height: 30px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .health-dashboard-countries a img {
    margin-bottom: 7px;
  }
}
.health-dashboard-countries a span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.health-dashboard-countries h4 {
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  .health-dashboard-countries h4 {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=spc_health_dashboard.css.map */