#mini-panel-footer {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  #two-50-top-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;   
  }
  #two-50-top-wrapper .two-50-top {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  background-size: cover;
  background-image:url('../../img/spc_new/new_footer.png'), linear-gradient(135deg, rgba(0, 127, 187, 1) 0%, rgba(0, 58, 140, 1) 100%);
  padding: 72px 0 45px;
  font-size: 18px;
  color: #d6deea;
  a {
      color: #d6deea;
  }
  ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      li {
          font-size: 15px;
          font-weight: 300;
      }
  }
  p {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 20px;
  }
  .pane-title, h2 {
      font-size: 15px;
      text-transform: uppercase;
      color: #ffffff;
      text-align: left;
      font-weight: normal;
  }
  h2.pane-title {
      margin-bottom: 14px;
      margin-top: 1px;
  }
  h2 {
      margin-bottom: 20px;

  }
  .bean-partner-logos {
      margin-bottom: 28px;
      .field-items {
          .partner-logo-item {
              width: 50%;
              padding-right:5px;
              float: left;
          }
          .partner-item {
              padding: 10px;
              height: 100px;
              box-sizing: border-box;
          }
      }
  }
  .social-links-block {
      .bean-social-links {
          margin-top: 26px;
          .field-items {
              .field-item {
                  height: 45px;
                  width: 45px;
                  float: left;
                  margin: 0 13px 5px 13px;
                  &:first-child {
                    margin-left: 0;
                  }
                  &:last-child {
                    margin-right: 0;
                  }
              }
          }
      }
  }
  .footer-menus-block {
    width: 50%;
    float: left;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
      margin-bottom: 12px;
    }
  }
  nav {
      ul {
          li {
              margin-bottom: 4px;
              a {
                  font-size: 13px;
                  font-weight: lighter;
              }
          }
      }
  }
}

@media (min-width: 768px) {
  #mini-panel-footer {
    .bean-partner-logos {
      .field-items {
        .partner-logo-item {
          width: 50%;
          float: left;
        }
        .partner-item {
          height: 100px;
        }
      }
    }
    .social-links-block {
      .bean-social-links {
        .field-items {
          .field-item {
            height: 39px;
            width: 39px;
          }
        }
      }
    }
  }  
}

@media (min-width: 992px) {
  #mini-panel-footer {
    height: 384px;
    .container {
      padding: 0px 200px !important;
    }
    .bean-partner-logos {
      .field-items {
        .partner-logo-item {
          width: 46%;
          padding-right:5px;
        }
        .partner-item {
          height: 75px;
        }
      }
    }
  }
}

@media (min-width: 1134px) {
  #mini-panel-footer {
    .container {
      width: 1134px;
    }
  }
}
